<h1>New portfolio_picture</h1>

<% form_for(@portfolio_picture, :url => portfolio_pictures_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <label for="mugshot">Upload A Portfolio Picture:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <!-- <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :thumbnail %><br />
    <%= f.text_field :thumbnail %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p> -->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', portfolio_pictures_path %>