<% form_for :message, @message, :url => { :controller => 'contacts', :action => 'create' } do |f| %>
	<div>
		<p>
		  <%= f.label :name, '* Name' %>
		  <%= f.text_field :name, :class => 'text' %>
		  <%= error_message_on :message, :name %>
		</p>
	</div>
	<div>
		<p>
		  <%= f.label :email, '* Email' %>
		  <%= f.text_field :email, :class => 'text' %>
		  <%= error_message_on :message, :email %>
		</p>
	</div>
	<div>
		<p>
		  <%= f.label :message, '* Message' %>
		  <%= f.text_area :message %>
		  <%= error_message_on :message, :message %>
		</p>
	</div>
	<div class="submit">
		<p><%= image_submit_tag 'email-send.jpg' %></p>
	</div>
<% end %>