<ul>
	<li class="first"><%= link_to 'Home', '/' %></li>
	<li><%= link_to 'About', :controller => :about, :action => 'index' %></li>
	<li><%= link_to 'Work', :portfolios %></li>
	<li><%= link_to 'Blog', :posts %></li>
	<li class="last"><%= link_to 'Contact', contact_url %></li>
</ul>
<div class="clear"></div>