<div class="primary">
	<h1>Recent Blog Posts</h1>
	<% if @posts.size > 0 %>
		<% @posts.each do |post| %>
		<div class="post">
			<h3><%= link_to post.title, post %></h3>
			<p class="published-date"><%= format_created_at_date(post.created_at) %>
			<% if logged_in? %>
			<p><%= link_to 'Edit', edit_post_path(post) %></p>
			<% end %>
		</div>
		<% end %>
	<% else %>
		<div class="post">
			<h3>I need to start writing!</h3>
		</div>
	<% end %>
</div>
<div class="secondary">
	<% if logged_in? %>
	<div class="admin">
		<p><%= link_to 'New post', new_post_path %></p>
	</div>
	<% end %>
	<%= render :partial => 'tags_module' %>
</div>